In [1]:
import pandas as pd

In [2]:
admission_data = pd.read_csv(r'C:\Users\USER\Desktop\ML\internsavy\Admission_Predict.csv')

In [3]:
admission_data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
admission_data.shape

(400, 9)

In [5]:
admission_data.nunique()

Serial No.           400
GRE Score             49
TOEFL Score           29
University Rating      5
SOP                    9
LOR                    9
CGPA                 168
Research               2
Chance of Admit       60
dtype: int64

In [6]:
admission_data.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [7]:
admission_data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [8]:
threshold = 0.5
admission_data['Chance of Admit '] = admission_data['Chance of Admit '].apply(lambda x: 1 if x > threshold else 0)

In [9]:
admission_data['Chance of Admit '].value_counts()

1    365
0     35
Name: Chance of Admit , dtype: int64

In [10]:
from imblearn.over_sampling import RandomOverSampler

In [11]:
x = admission_data.drop('Chance of Admit ',axis = 1)
y = admission_data['Chance of Admit ']

In [12]:
sampler = RandomOverSampler()
x_resampled,y_resampled = sampler.fit_resample(x,y)

In [13]:
x_resampled.shape

(730, 8)

In [14]:
y_resampled.shape

(730,)

In [15]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test = train_test_split(x_resampled,y_resampled,test_size = 0.2,random_state = 1)

In [46]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [47]:
model1 = LogisticRegression()
model2 = DecisionTreeClassifier()
model3 = SVC()
model4 = RandomForestClassifier()

In [48]:
voting = VotingClassifier(estimators = [('lg',model1),('dt',model2),('sv',model3),('rf',model4)],voting = 'hard')

In [49]:
voting.fit(x_train,y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

VotingClassifier(estimators=[('lg', LogisticRegression()),
                             ('dt', DecisionTreeClassifier()), ('sv', SVC()),
                             ('rf', RandomForestClassifier())])

In [50]:
from sklearn.metrics import accuracy_score

In [51]:
train_prediction = voting.predict(x_train)

In [52]:
accuracy_score(train_prediction,y_train)*100

95.8904109589041

In [53]:
test_prediction = voting.predict(x_test)

In [54]:
accuracy_score(test_prediction,y_test)*100

95.8904109589041